{% extends 'base.twig' %} 

{% block content %}

{# BEGIN HERO SECTION #} 
<section id="hero" class="section py-18">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__left">
                <img class="hero__img" src="{{ theme.path ~ '/static/img/natrea-hero.webp' }}" alt="">
                <div id="kirkham" class="testimonial">
                    <img class="testimonial__avatar" src="{{ theme.path ~ '/static/img/aaron-kirkham.png' }}" alt="">
                    <p class="testimonial__copy">
                        "National Real Estate Accountants have completely revolutionized our business. I would be nowhere without them. With our short-term rental property company they have totally smashed it! LOVE THEM!" <strong>—Aaron Kirkham</strong>
                    </p>
                </div>
            </div>
            <div class="hero__right">
                <h1 class="hero__heading">Where did all my money go?</h1>
                <article class="prose">
                    <p>It shouldn't be this hard.</p>
                    <p>Be the R.O.A.R. not the echo.</p>
                    <p>Know where your money is. Know what your profit is. Manage your cash flow.</p>
                    <p><strong>What if you could know ... today's cash, today's costs, today's profits in EACH deal ...</strong></p>
                    <p><strong>So you could be empowered to "pull-the-trigger" and make the right decision, right away?</strong></p>
                    <p>National Real Estate Accountants is the solution to all your bookkeeping problems, no matter which state you operate in or how many properties you manage. With multiple levels of service, we make sure you get the exact bookkeeping help you need, at a price that makes sense.</p>
                </article>               
                <div class="btn-wrapper">
                    <p class="btn__text">Ready to get started?</p>
                    <a class="btn btn--primary" href="https://calendly.com/nat-rea" target="_blank"><span class="phone-icon"></span>Book a call now</a>
                </div>
            </div>
        </div>
    </div>
</section>
{# END HERO SECTION #}

{# BEGIN GROUP SECTION #}
<section id="about" class="section pt-18">
    <div class="container">
        <div class="section__helmet">
            <h2 class="group__heading">National Real Estate Accountants takes care of the books</h2>
            <p class="group__subheading">So you can take care of your investments</p>
            <div class="btn-wrapper is-centered mx-auto">
                <p class="btn__text">Ready to get started?</p>
                <a class="btn btn--primary" href="https://calendly.com/nat-rea" target="_blank"><span class="phone-icon"></span>Book a call now</a>
            </div>
        </div>
    </div>
    <div class="img-wrapper">
    </div>
</section>
{# END GROUP SECTION #}

{# BEGIN IMAGE SECTION #}
<section id="image" class="section">
    <img class="image--full" src="{{ theme.path ~ '/static/img/natrea-lombard.webp' }}" alt="">
</section>
{# END IMAGE SECTION #}


{# BEGIN NUMBERS SECTION #}
<section id="numbers" class="section py-18">
    <div class="container">
        <article class="prose mx-auto">
            <h2 class="numbers__heading">It's almost impossible to be a successful real estate investor ... unless you know your numbers.</h2>
            <p class="numbers__subheading">National Real Estate Accountants makes it easy to stop guessing about where your money comes from, and where it goes ... so you know exactly what's going on in your accounts.</p>
            <div class="list-wrapper is-blue">
                <h3>Clear, clean financial reports</h3>
                <ul>
                    <li>For banks</li>
                    <li>For investors</li>
                    <li>For compliance</li>
                    <li>Accounts receivable and payable</li>
                    <li>Vendor tracking and 1099s</li>
                    <li>Bank, credit, and loan reconciliations</li>
                    <li>HUD entry, and settlement statements</li>
                    <li>Sales tax reporting and review</li>
                </ul>
            </div>
            <div class="list-wrapper">
                <h3>So that you can:</h3>
                <ul>
                    <li>Know where you are now</li>
                    <li>Plan for your next project</li>
                    <li>Invest for your future</li>
                    <li>Plus, compliance ... of course</li>
                </ul>
            </div>
            <p>At Nat-REA, we've handled requests for all of these, and more. Which is why we provide each of these services ... and more.</p>
            <p>We know what it takes to make the most of your investment, and we're here to help you do just that.</p>
            <p>We help real estate investors, flippers, and wholesalers just like you, make sense of their books, keep the government happy, and most importantly ... make more money.</p>
        </article>
        <div class="btn-wrapper is-centered mb-20 mx-auto">
            <p class="btn__text">Ready to get started?</p>
            <a class="btn btn--primary" href="https://calendly.com/nat-rea" target="_blank"><span class="phone-icon"></span>Book a call now</a>
        </div>
        <div class="testimonial mx-auto">
            <img class="testimonial__avatar" src="{{ theme.path ~ '/static/img/chris-larsen.png' }}" alt="">
            <p class="testimonial__copy">
                "When I realized, this is more than I can handle, I searched for 'Real Estate Bookkeeping' online. There it was: National Real Estate Accountants. That is what I need! Together, we are planning ways to reduce taxes, but with an emphasis on being more strategic with investments. Making my money work harder ... and making smarter and strategic decisions. I am understanding money on a whole new level. If you are a real estatae investor, you need these guys 'running-the-numbers' for you."<strong>—Chris Larsen</strong>
            </p>
        </div>
    </div>
</section>
{# END NUMBERS SECTION #}

{# BEGIN TIER SECTION #} 
<section id="tier" class="section py-18">
    <div class="container">
        <div class="tier__wrapper mx-auto mb-20">
            <h3 class="tier__heading">Discover the right tier of service for your business</h3>
            <p class="tier__subheading">Nat-REA offers comprehensive service packages for any level of Real Estate Investing. Whether you've just fallen in love with flipping, or own multiple properties that span across state lines, Nat-REA has the bookkeeping services you need to keep your business running smoothly.</p>
            <div class="btn-wrapper is-centered">
                <p class="btn__text">Ready to get started?</p>
                <a class="btn btn--primary" href="https://calendly.com/nat-rea" target="_blank"><span class="phone-icon"></span>Book a call now</a>
            </div>
        </div>
        <div class="testimonial mx-auto">
            <img class="testimonial__avatar" src="{{ theme.path ~ '/static/img/mark-rivers.png' }}" alt="">
            <p class="testimonial__copy">
                "This team keeps me sane, even when I am running 100 mph trying to manage my business. I know that they will see through the red tape and ensure I am on the best path possible for my businesses when it comes to dealing with bookkeeping and taxes. They don't just do what I ask, they act proactively and ensure my business is returning to me all that is possible. Could not do it without them, best recommendation I have ever been given and I know you will find the same."<strong>—Mark Rivers</strong>
            </p>
        </div>
    </div>
</section>
{# END TIER SECTION #}

{# BEGIN START SECTION #} 
<section id="contact" class="section py-18">
    <div class="container">
        <div class="start__wrapper">
            <div class="start__left">
                <h2 class="start__heading">Ready to get started?</h2>
                <a class="btn btn--primary" href="https://calendly.com/nat-rea" target="_blank"><span class="phone-icon--orange"></span>Book a call now</a>
                <p class="start__copy"><strong>* What's the R.O.A.R.?</strong> The R.O.A.R. is a process for achieving the highest possible results for you, our client. When we R.O.A.R., we Recognize, Optimize, take Action, and Review, so that we can always be sure we're making a significant impact in your business.</p>
            </div>
        </div>
    </div>
</section>
{# END START SECTION #}

{% endblock %}